<footer class="footer mt-5">
    <div class="container">
        <div class="footer-block links">
            <h3 >Links:</h3>
            <a href="https://github.com/mkrtchke01">GitHub</a><br>
            <a href="https://www.linkedin.com/in/egor-makarov-848661235/?originalSubdomain=by">LinkedIn</a>
        </div>
        <div class="footer-block contacts">
            <h3>Contacts:</h3>
            <a href="https://www.linkedin.com/in/egor-makarov-848661235/?originalSubdomain=by">LinkedIn</a>

        </div>
    </div>
</footer>
